body {
    font-family: 'Dosis', sans-serif !important;
}
#header {
    background: #ffffff;
    border-bottom: 1px solid #e1e1e1;
}
#navigation-top {
    background: #ffffff !important;
}
.navbar-expand-md {
    justify-content: flex-end;
}
.banner-box figure {
    margin-bottom: 0;
}
.banner-box figure img {
    width: 100%;
}
.nav-link {
    font-size: 0.9275rem;
    font-weight: 600;
    color: #666666 !important;
    border: 2px solid transparent;
    border-radius: 30px;
    position: relative;
    text-transform: uppercase;
    padding: 1px 20px !important;
}
.nav-link:hover {
    color: #5d0f0b !important;
    border: 2px solid #5d0f0b;
    border-radius: 30px;
    font-size: 0.9275rem;
    font-weight: 600;
    padding: 1px 20px !important;
}
.modal-header {
    border-bottom: none;
}
.modal-content {
    background-color: transparent;
    border: none;
}
button.close {
    background-color: transparent;
    background: #c1153a;
    border-radius: 100px;
    padding: 5px 12px 8px 13px !important;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 895px;
    }
}
.background-video { 
   /* background: rgba(125,32,60,1);
    background: -moz-linear-gradient(left, rgba(125,32,60,1) 0%, rgba(60,9,24,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(125,32,60,1)), color-stop(100%, rgba(60,9,24,1)));
    background: -webkit-linear-gradient(left, rgba(125,32,60,1) 0%, rgba(60,9,24,1) 100%);
    background: -o-linear-gradient(left, rgba(125,32,60,1) 0%, rgba(60,9,24,1) 100%);
    background: -ms-linear-gradient(left, rgba(125,32,60,1) 0%, rgba(60,9,24,1) 100%);
    background: linear-gradient(to right, rgba(125,32,60,1) 0%, rgba(60,9,24,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d203c', endColorstr='#3c0918', GradientType=1 );
    
    background: radial-gradient(#2a2c4d 15%, transparent 15%) 0 0, radial-gradient(#2a2c4d 15%, transparent 15%) 16px 16px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 0px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 16px 16px;
    background-size: 29px 29px;*/

    background-image: url('../../assets/img/background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 30px 0 40px;
}
.container-movimento {
    position: relative;
}
.titulo-video {
    font-size: 8.22rem;
    font-weight: 800;
    font-style: normal;
    color: #330714;
    opacity: .6;
    text-transform: uppercase;
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 100%;
}
.slogan-video {
    font-size: 2.41375rem;
    line-height: 2.41375rem;
    color: #ffffff;
    top: 45px;
    position: absolute;
    display: block;
    margin: 0 auto;
    width: 100%;
}
.slogan-video span.red {
    font-size: 2.41375rem;
    line-height: 2.41375rem;
    color: #ff9000;
    font-weight: 800;
}
.container-btn {
    margin: 160px auto 0;
}
.btn-primary {
    background: #ff9000;
    border: 1px solid #ff9000;
    border-radius: 30px;
    padding: 5px 40px;
    font-size: 1rem;
    text-transform: uppercase;
}
.btn-primary:hover {
    background: transparent;
    border: 1px solid #ff9000;
    color: #ffffff;
    border-radius: 30px;
    padding: 5px 40px;
    font-size: 1rem;
    text-transform: uppercase;
}
.gallery{
	width: 100%;
    overflow-x: hidden;
}
.gallery.owl-stage{
    display: flex;
}
.img-galeria {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 400px;
}
.gallery ul {
    margin: 0;
    padding: 0;
}
.slb_container {
    background: transparent !important;
    box-shadow: none !important;
    color: #fff;
}
.slb_group_status {
    float: right !important;
    color: #ffffff !important;
    font-style: normal !important;
    font-size: 1rem !important;
}
.msacwl-gallery-caption {
    background: rgba(142,62,85,0.8) !important;
}
#carrossel .msacwl-gallery-slider button.slick-prev, 
#carrossel .msacwl-gallery-slider button.slick-prev:hover, 
#carrossel .msacwl-gallery-slider button.slick-prev:focus, 
#carrossel .msacwl-gallery-carousel button.slick-prev, 
#carrossel .msacwl-gallery-carousel button.slick-prev:hover, 
#carrossel .msacwl-gallery-carousel button.slick-prev:focus,
#carrossel .msacwl-gallery-slider button.slick-next, 
#carrossel .msacwl-gallery-slider button.slick-next:hover, 
#carrossel .msacwl-gallery-slider button.slick-next:focus, 
#carrossel .msacwl-gallery-carousel button.slick-next, 
#carrossel .msacwl-gallery-carousel button.slick-next:hover, 
#carrossel .msacwl-gallery-carousel button.slick-next:focus {
    background-color: transparent !important;
}
.slick-dots {
    display: none !important;
}
@media (min-width: 576px) {
    .msacwl-gallery-caption {
        visibility: hidden;
    }
    .msacwl-carousel-slide.msacwl-slide.slick-slide:hover > .msacwl-gallery-caption {
        visibility: visible;
    }
    .msacwl-gallery-caption span {
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    #wrapper {
        margin-top: 100px;
    }
}
@media (max-width: 575px) {
    #wrapper {
        margin-top: 102px;
    }
    .titulo-video {
        font-size: 3.5rem;
    }
    .slogan-video {
        top: 0px;
    }
    .container-btn {
        margin: 100px auto 0;    
    }
    #slb_viewer_wrap .slb_theme_slb_baseline {
        top: 30% !important;
    }
    .titulo-diferenciais h1::before {
        left: 40% !important;    
    }
    .row-sobre .col-lg-5 {
        margin-top: 80px;    
    }
    .container-shortcode-formulario h2::before {
        left: 40%;    
    }
    .container-texto-banner h3 {
        display: inline-grid;    
    }
    textarea {
        height: 200px;
    }
    #mapa-evo iframe {
        height: 400px;
    }
}
.col-icone {
    padding: 0;
}
.p-caption {
    color: #333;
    text-align: center;
    margin-right: 8px;
}
.p-caption:hover, .gallery_image:hover {
    text-decoration: none;
}
.overlay {
    visibility: hidden;
}
/*
.gallery_image:hover .overlay {
    height: 65%;
    position: absolute;
    background: rgba(142,62,85,0.8) !important;
    z-index: 2;
    width: 80%;
    margin: 21px;
    border-radius: 100px;
    visibility: visible;
}*/
/*
.gallery_image:hover .overlay {
    height: 65%;
    position: absolute;
    background: rgba(142,62,85,0.8) !important;
    z-index: 2;
    border-radius: 100px;
    visibility: visible;
    display: inline-block;
    margin: calc(9%);
    width: 70%;
}*/
.gallery_image:hover .overlay {
    height: 145px;
    position: absolute;
    background: rgba(142,62,85,0.8) !important;
    z-index: 2;
    border-radius: 100px;
    visibility: visible;
    display: flex;
    margin: 15%;
    width: 145px;
}
.overlay::after {
    content: "+";
    color: #fff;
    font-size: 55px;
    display: flex;
    position: absolute;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
    margin-top: -10px;
}
.admin-bar #header {
    margin-top: 32px;
}
.conteudo-plantas, .conteudo-localizacao {
    margin: 60px 0 40px;
}
.conteudo-plantas h1, .conteudo-localizacao h1 {
    color: #7c203c;
    font-weight: 300;
    font-size: 2.50125rem;
    line-height: 2.50125rem;
    margin-bottom: 40px;
}
.conteudo-plantas p {
    font-size: 1.375rem;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 1.8rem;
}
.conteudo-localizacao p, .col-texto {
    font-size: 1.625rem;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 2rem;
}
.conteudo-plantas h1::before, .conteudo-localizacao h1::before {
    content: "";
    width: 70px;
    height: 4px;
    border: 4px solid #7c203c;
    position: absolute;
    border-radius: 15px;
    margin-top: -25px;
}
.row-estabelecimentos {
    align-items: center;
    margin: 12px 0;
}
hr {
    border-top: 4px solid #f2f2f2 !important;
}
.conteudo-diferenciais h1 {
    color: #3c3c3c;
    font-weight: 400;
    font-size: 2.50125rem;
    line-height: 2.50125rem;
    margin-bottom: 40px;
}
.conteudo-diferenciais p {
    font-size: 1.125rem;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 1.75rem;
}
.titulo-diferenciais h1::before {
    content: "";
    width: 70px;
    height: 4px;
    border: 4px solid #7c203c;
    position: absolute;
    border-radius: 15px;
    margin-top: -15px;
    left: 48%;
}
.titulo-diferenciais {
    justify-content: center;
    padding: 50px 0;
}
@media (min-width: 992px) {
    .col-lg-20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }    
    .email-tel {
        display: flex;    
        justify-content: space-between;
    }
    .col2-form {
        width: 49%;
    }
    .diferenciais {
        min-height: 270px;
    }    
    .slogan-video {
        padding-top: 14px;
    }
}
.col-lg-20 .gallery_image:hover .overlay {
    /*margin: 23px 14px 14px;*/
}
.banner-texto {
    background: rgba(72,13,31,1);
    background: -moz-linear-gradient(left, rgba(72,13,31,1) 0%, rgba(124,32,60,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(72,13,31,1)), color-stop(100%, rgba(124,32,60,1)));
    background: -webkit-linear-gradient(left, rgba(72,13,31,1) 0%, rgba(124,32,60,1) 100%);
    background: -o-linear-gradient(left, rgba(72,13,31,1) 0%, rgba(124,32,60,1) 100%);
    background: -ms-linear-gradient(left, rgba(72,13,31,1) 0%, rgba(124,32,60,1) 100%);
    background: linear-gradient(to right, rgba(72,13,31,1) 0%, rgba(124,32,60,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#480d1f', endColorstr='#7c203c', GradientType=1 );
}
.container-texto-banner {
    padding: 60px 0;
}
.container-texto-banner h2, .container-texto-banner h3 {
    font-size: 1.6575rem;
    color: #ffffff;
    line-height: 1.6575rem;
    font-weight: 400;
}
.container-texto-banner h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
span.parcela {
   font-size: 2.9975rem;   
   color: #ffffff;
   line-height: 2.9975rem;
   font-weight: 700;
   margin-left: 10px;
}
.container-texto-sobre {
    text-align: left;
}
.container-texto-sobre h1 {
    color: #7c203c;
    font-weight: 300;
    font-size: 2.75rem;
    line-height: 2.75rem;
    margin-bottom: 40px;
}
.container-texto-sobre p {
    font-size: 1.125rem;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 1.75rem;
}
.container-texto-sobre h1::before {
    content: "";
    width: 70px;
    height: 4px;
    border: 4px solid #7c203c;
    position: absolute;
    border-radius: 15px;
    margin-top: -25px;
}
.sobre {
    padding: 60px 0;
}
.row-sobre {
    align-items: center;
    margin-bottom: 60px;
}
.container-shortcode-formulario h2 {
    color: #7c203c;
    font-size: 2.50125rem;
    line-height: 2.50125rem;
    font-weight: 300;
}
span.red-contato {
    color: #7c203c;
    font-size: 2.50125rem;
    line-height: 2.50125rem;
    font-weight: 300;
}
.container-shortcode-formulario h2::before {
    content: "";
    width: 70px;
    height: 4px;
    border: 4px solid #7c203c;
    position: absolute;
    border-radius: 15px;
    margin-top: -15px;
    left: 48%;
}
input[type="submit"] {
    background: #ff9000;
    border: 1px solid #ff9000;
    border-radius: 30px;
    padding: 0 75px;
    font-size: 2.125rem;
    text-transform: uppercase;
    margin-top: 30px;
    font-weight: 400;
}
input[type="submit"]:hover {
    background: transparent;
    border: 1px solid #ff9000;
    color: #ff9000;
    border-radius: 30px;
    padding: 0 75px;
    font-size: 2.125rem;
    text-transform: uppercase;
    font-weight: 400;
}
.wpcf7-select {
    width: 100%;
}
label {
    width: 100%;
    text-align: left;
}
.nome input, .telefone input, .e-mail input, .email input, .your-mail input, select {
    background: #e8e8e8;
    border: none;
    border-bottom: 4px solid #771230;
    height: 50px;
    text-align: left;
}
.nome input {
    width: 100%;
}
.telefone input {
    width: 100%;
}
.e-mail input, .email input, .your-mail input {
    width: 100%;
}
textarea {
    background: #e8e8e8;
    border: none;
    border-bottom: 4px solid #771230;
    height: 400px;
    width: 100%;
    text-align: left;
}
.col2-form {
    text-align: left;
}
.email-tel { 
    margin-bottom: 20px;
}
.span-text-form {
    font-size: 1.875rem;
    color: #3c3c3c;
    font-weight: 400;
}
.shortcode-formulario {
    padding-bottom: 100px;
    padding-top: 50px;
}
.wpcf7-form {
    padding-top: 50px;
}
.col-diferenciais {
    text-align: center;
}
.diferenciais {
    border: 2px solid #e1e1e1;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-top: -35px;
    padding-top: 50px;
}
.diferenciais h3 {
    color: #7c203c;
    font-size: 1.625rem;
    line-height: 1.625rem;
    font-weight: 400;
    padding-bottom: 20px;
}
.diferenciais p {
    color: #3c3c3c;
    font-size: 1.25rem;
    line-height: 1.8rem;
    font-weight: 400;
}
.lateral-cont {
    border: 2px solid #7c203c;
    padding: 20px;
}
.form-lateral {
    color: #7c203c;
    font-size: 2.076875rem;
    line-height: 2.076875rem;
    text-align: center;
    padding: 15px 0 20px;
}
.lateral-cont .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    border: 2px solid #e1e1e1;
    color: #8a8a8a;
    padding: 7px;
}
.lateral-cont input[type="submit"] {
    background: #ff9000;
    border: 1px solid #ff9000;
    border-radius: 0;
    padding: 3px 46px 7px 0;
    font-size: 2.076875rem;
    text-transform: uppercase;
    margin-top: 0;
    width: 100%;
    color: #340613;
}
.lateral-cont input[type="submit"]:hover {
    background: transparent;
    border: 1px solid #340613;;
    border-radius: 0;
    padding: 3px 46px 7px 0;
    font-size: 2.076875rem;
    text-transform: uppercase;
    margin-top: 0;
    width: 100%;
    color: #340613;
}
#header-top {
    background: #771230;
}
#footer-bottom {
    position: fixed;
    bottom: 0;
}
.info-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}
.btn-simulacao {
    background: #ff9000;
    border: 1px solid #ff9000;
    border-radius: 30px;
    padding: 3px 10px;
    font-size: 1rem;
    text-transform: uppercase;
    height: 30px;
}
.btn-simulacao:hover {
    background: transparent;
    border: 1px solid #ff9000;
    color: #ffffff;
    border-radius: 30px;
    padding: 3px 10px;
    font-size: 1rem;
    text-transform: uppercase;
    height: 30px;
}
.btn-red {
    background: #c1153a;
    border: 1px solid #c1153a;
    border-radius: 30px;
    padding: 3px 10px;
    font-size: 0.9rem;
    text-transform: uppercase;
    height: 30px;
}
.btn-red:hover {
    background: #AE3535;
    border: 1px solid #AE3535;
    color: #ffffff;
    border-radius: 30px;
    padding: 3px 10px;
    font-size: 0.9rem;
    text-transform: uppercase;
    height: 30px;
}
.btn-red a, .btn-simulacao a {
    color: #ffffff;
    padding: 3px 10px;
    font-size: 1rem;
    text-transform: uppercase;
}
.btn-red:hover a {
    color: #ffffff;
    padding: 3px 10px;
    font-size: 1rem;
    text-transform: uppercase;
}
.btn-simulacao:hover a {
    color: #ffffff;
    padding: 3px 10px;
    font-size: 1rem;
    text-transform: uppercase;
}
address {
    margin-bottom: .5rem;
    margin-top: .5rem;
}
.icon-contato {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0 10px;
    width: 10%;
}
.section-mapa {
    padding-top: 60px;
}
@media (max-width: 767px) {
    /*.btn-red {
        border-radius: 70px;
        padding: 8px 0;
        height: auto;
    }
    .btn-red:hover{
        border-radius: 70px;
        padding: 8px 0;
        height: auto;
        background: #c1153a;
        border: 1px solid #c1153a;
    }*/
    .btn-red {
        border-radius: 70px;
        padding: 2px 4px 5px;
        height: 40px;
        width: 40px;
    }
    .btn-red:hover {
        border-radius: 70px;
        padding: 2px 4px 5px;
        height: 40px;
        background: #c1153a;
        border: 1px solid #c1153a;
        width: 40px;
    }
    .icon-whats {
        padding: 0 2px;    
    }
    .btn-simulacao {
        width: 55px;
        height: 40px;
        font-size: 0.9rem;
        text-transform: uppercase;
        line-height: .9rem;
    }
    .btn-simulacao:hover {
        width: 55px;
        height: 40px;
        font-size: 0.9rem;
        text-transform: uppercase;
        line-height: .9rem;
        background: #00a99f;
        border: #00a99f;
        color: #ffffff;
    }
    /*
    .btn-simulacao a {
        padding: 0px 0 !important;
        text-align: center !important;
        display: inline-block !important;
        font-size: .6rem;
        margin-left: -4px;
        white-space: pre-line;
    }
    .btn-simulacao a:hover {
        padding: 0px 0 !important;
        text-align: center !important;
        display: inline-block !important;
        font-size: .6rem;
        margin-left: -4px;
        color: #ffffff;
    }*/
    .btn-simulacao a {
        padding: 0px 0 !important;
        text-align: center !important;
        display: inline-block !important;
        font-size: .6rem;
        margin-left: -4px;
        white-space: pre-line;
    }
    .btn-simulacao:hover a {
        color: #ffffff;
        padding: 0px 0 !important;
        text-align: center !important;
        display: inline-block !important;
        font-size: .6rem;
        margin-left: -4px;
    }
    .icon-simulacao {
        font-size: .6rem;
        text-align: center;
        display: inline-block;
        margin-left: 0px;
        white-space: pre-line;
        padding: 0 !important;
        margin-top: -12px;    
    }
    .btn-simulacao:hover a {
        color: #ffffff;        
        padding: 0px 0 !important;
        text-align: center !important;
        display: inline-block !important;
        font-size: .6rem;
        margin-left: -4px;  
    }    
    .icon-simulacao a {
        padding: 7px 0;
        text-align: center;
        display: inline-block;
    }
    .navbar-toggler.collapsed {
        margin-top: -80px;
    }
    .container-menu {
        width: 100%;
    }
    .navbar-toggler {
        float: right;
        margin-top: -80px;
    }
    .navbar {
        padding: 0 1rem;
    }
    .container-shortcode-formulario h2::before {
        left: 40%;    
    }
}
#header-top .info-contact img {
    margin: 0 7px 3px -5px;
}
.icon-submit-lat:after {
    content: url('../../assets/img/icon_chat-2.png');
}
.icon-nome-lat::before {
    content: "";
    background-size: 45px 46px;
    height: 46px;
    width: 45px;
    background-image: url('../../assets/img/icon_name.png');
    display: inline-block;
    background-repeat: no-repeat;
}
.icon-tel-lat::before {
    content: "";
    background-size: 45px 42px;
    height: 42px;
    width: 45px;
    background-image: url('../../assets/img/icon_fone-2.png');
    display: inline-block;
    background-repeat: no-repeat;
}
.icon-email-lat::before {
    content: "";
    background-size: 45px 30px;
    height: 35px;
    width: 45px;
    background-image: url('../../assets/img/icon_e-mail.png');
    display: inline-block;
    background-repeat: no-repeat;
    margin-top: 8px;
}
.lateral-cont label {
    display: inline-flex;
    align-items: center;
}
.icon-submit-lat {
    margin-left: -110px;
}
#header .icon-email, #header .icon-video, #header .icon-whats, #header .icon-phone, #header .icon-chat {
    padding: 0 8px;
}
.lateral-cont p:last-child {
    display: flex;
    align-items: center;
    position: relative;
}
.lateral-cont .wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    border: 2px solid #e1e1e1;
    color: #8a8a8a;
    padding: 7px;
    width: 90%;
    margin-left: 35px;
}
@media (max-width: 991px) {
    .lateral-cont input[type="submit"] {
        font-size: 1.5rem !important;
    }
    .lateral-cont input[type="submit"]:hover {
        font-size: 1.5rem !important;
    }
    .icon-submit-lat {
        margin-left: -85px !important;    
    }
    .col-texto, .conteudo-localizacao p {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
    .conteudo-localizacao p {
        font-size: 1.375rem;
        line-height: 1.375rem;
    }
}
@media (min-width: 451px) and (max-width: 767px) {
    .gallery_image:hover .overlay {
        width: 65%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
        margin-top: 84px;
    }
    .nav-link {
        font-size: 0.82rem;    
    }
    .nav-link::before {
        bottom: -24px;
    }    
}
@media (min-width: 575px) and (max-width: 991px) {
    .titulo-diferenciais h1::before {
        left: 45%;    
    }
}
.modal-body.embed-container iframe {
    max-width: 100%;
}
.container-texto {
    padding-top: 50px;
}
.container-texto h1 {
    color: #7c203c;
    font-weight: 300;
    font-size: 2.50125rem;
    line-height: 2.50125rem;
    margin-bottom: 40px;
}
/*
.container-texto h1::before {
    content: "";
    width: 70px;
    height: 4px;
    border: 4px solid #7c203c;
    position: absolute;
    border-radius: 15px;
    margin-top: -15px;
    left: 48%;
}*/
.container-texto h1::before {
    content: "";
    width: 70px;
    height: 4px;
    border: 4px solid #7c203c;
    position: absolute;
    border-radius: 15px;
    margin-top: -15px;
    display: block;
}
@media (min-width: 576px) {
    .container-texto.texto-galeria h1::before {
        /*margin-left: calc(50% - 150px);*/
        left: 46.5%;
    }
    .container-texto.texto-design h1::before {
        /*margin-left: calc(50% - 150px);*/
        left: 46.5%;
    }
}
@media (max-width: 575px) {
    .container-texto.texto-galeria h1::before {
        margin-left: calc(50% - 50px);
    }
    .container-texto.texto-design h1::before {
        margin-left: calc(50% - 65px);
    }
}
@media (min-width: 992px) {
    .container-texto.texto-galeria h1::before {
        /*margin-left: calc(50% - 150px);*/
        left: 47.5%;
    }
    .container-texto.texto-design h1::before {
        /*margin-left: calc(50% - 150px);*/
        left: 47.5%;
    }
    .btn-chat  {
        display: none !important;
    }
}
.container-texto p {
    font-size: 1.125rem;
    font-weight: 400;
    color: #3c3c3c;
    line-height: 1.75rem;
}
@media (max-width: 991px) {
    .zopim {
        display: none !important;
    }
}
/* Modal Formulário Vídeo Chamada */
.modal-form .modal-body.embed-container .wpcf7 {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}
.modal-form .modal-body.embed-container .wpcf7-form {
    padding-top: 10px;
}
.modal-form .modal-body.embed-container .span-text-form {
    font-size: 1.3rem;
}
.modal-form .modal-body.embed-container .mensagem textarea {
    padding: 20px;
    height: 150px;
}
.botao-form-video {
    text-align: center;
}
.botao-form-video input[type="submit"] {
    font-size: 1.5rem;
    margin-top: 0;
}
#design h4 {
    color: #7c203c;
    margin-bottom: 30px;
    font-weight: 600;
}
span.evo {
    color: #7c203c;
    font-weight: 600;
}
.container-plantas-e-localizacao .img-galeria {
    border: 1px solid #7c203c;
    margin: 5px;
    padding: 5px;
}
.container-plantas-e-localizacao .col-md-4.img-galeria {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
}
.container-plantas-e-localizacao .col-md-4.img-galeria .gallery_image:hover .overlay {
    margin: 9%;
}
#contato h4 {
    color: #7c203c;
    margin-bottom: 30px;
    font-weight: 600;
}
#plantas-open-concept .img-galeria p.p-caption:last-child {
    color: #7c203c;
    font-size: 1.5rem;
}
@media (max-width: 767px) {
    .container-plantas-e-localizacao .col-md-4.img-galeria {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
        flex: 0 0 47%;
    }
}
.grecaptcha-badge {
    bottom: 60px !important;
}
.grecaptcha-badge {
    display: none !important;
}